<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Allowed apps</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Save()" [disabled]="Saving || Loading">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    Show system apps:<ion-toggle [(ngModel)]="ShowSystemApps"></ion-toggle>
  </ion-list-header>
  <ion-label>
    <p class="ion-padding">
      Enabled apps enter Portmaster's Android VPN and can use SPN when SPN is active.
      Disabled apps bypass Portmaster completely.
    </p>
  </ion-label>
  <div class="ion-text-center ion-padding" *ngIf="Loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-item color="danger" *ngIf="Error">
    <ion-label class="ion-text-wrap">{{Error}}</ion-label>
  </ion-item>
  <ion-list *ngIf="!Loading">
    <ion-item *ngFor="let app of AppList | systemAppsFilter: !ShowSystemApps">
      <ion-label>{{app.name}}</ion-label>
      <ion-toggle [(ngModel)]="app.enabled"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
